In [20]:
import pandas as pd
from sklearn.naive_bayes import MultinomialNB

In [21]:
#read the datset
golf_ds=pd.read_csv("golf-dataset.csv")
golf_ds.head()

    Outlook  Temp Humidity  Windy Play Golf
0     Rainy   Hot     High  False        No
1     Rainy   Hot     High   True        No
2  Overcast   Hot     High  False       Yes
3     Sunny  Mild     High  False       Yes
4     Sunny  Cool   Normal  False       Yes

In [22]:
golf_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Outlook    14 non-null     object
 1   Temp       14 non-null     object
 2   Humidity   14 non-null     object
 3   Windy      14 non-null     bool
 4   Play Golf  14 non-null     object
dtypes: bool(1), object(4)
memory usage: 594.0+ bytes

In [23]:
#change the data into categorical
golf_ds=golf_ds.apply(lambda x: x.astype("category"))

In [24]:
golf_ds1=golf_ds.apply(lambda x:x.cat.codes)

In [25]:
golf_ds1.head()

   Outlook  Temp  Humidity  Windy  Play Golf
0        1     1         0      0          0
1        1     1         0      1          0
2        0     1         0      0          1
3        2     2         0      0          1
4        2     0         1      0          1

In [26]:
#splitting train and test data
#here as  we see,ther are 14 records,lets take 10->train,4->test

In [27]:
train=golf_ds1[:10]
test=golf_ds1[-4:]

In [28]:
train.head()

   Outlook  Temp  Humidity  Windy  Play Golf
0        1     1         0      0          0
1        1     1         0      1          0
2        0     1         0      0          1
3        2     2         0      0          1
4        2     0         1      0          1

In [29]:
test.head()

    Outlook  Temp  Humidity  Windy  Play Golf
10        1     2         1      1          1
11        0     2         0      1          1
12        0     1         1      0          1
13        2     2         0      1          0

In [30]:
#Now we are going to creat X  and Y
Y_train=train.pop("Play Golf")
X_train=train

In [31]:
Y_test=test.pop("Play Golf")
X_test=test

In [32]:
X_train

   Outlook  Temp  Humidity  Windy
0        1     1         0      0
1        1     1         0      1
2        0     1         0      0
3        2     2         0      0
4        2     0         1      0
5        2     0         1      1
6        0     0         1      1
7        1     2         0      0
8        1     0         1      0
9        2     2         1      0

In [33]:
X_test

    Outlook  Temp  Humidity  Windy
10        1     2         1      1
11        0     2         0      1
12        0     1         1      0
13        2     2         0      1

In [34]:
Y_train

0    0
1    0
2    1
3    1
4    1
5    0
6    1
7    0
8    1
9    1
Name: Play Golf, dtype: int8

In [35]:
Y_test

10    1
11    1
12    1
13    0
Name: Play Golf, dtype: int8

In [36]:
#Multinomial mode
#create multinomial model
model=MultinomialNB()
#fit the data
model_object=model.fit(X_train,Y_train)

In [37]:
#now our object model is ready,we can simply get the classification outcomes

In [38]:
#predict
Y_out=model.predict(X_test)

In [39]:
Y_out

array([1, 0, 1, 0], dtype=int8)

In [40]:
#lets see training accurancy and test accurancy
print("Training Accurancy :",model.score(X_train,Y_train))
print("Test Accurancy :",model.score(X_test,Y_test))

Training Accurancy : 0.7
Test Accurancy : 0.75

In [ ]:
#thersfore we have 75% accurancy